body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}
header, footer {
    background-color: #7dc9bb;
    color: white;
    padding: 15px;
}
.site-title {
    color: #097e77;
}
#my-image {
    box-shadow: 0 0 2px 1px black;
}
.hobby-list {
    list-style: square;
}
.hobby-list li:nth-child(odd) {
    background-color: #118b83;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a:hover {
    background-color: #074a74;
    color: black;
}
nav a{
  text-decoration: none;
}